# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
# build/  <- Removded to allow PWA
# dist/   <- Removed to allow EXE

# Virtual Environment
venv/
.venv/
env/

# OS
.DS_Store
Thumbs.db

# Project specific
*.pdf
obrazky_hra1/
obrazky_stylizovane/
obrazky_stylizovane1/
* - kopie.py

# Optimized assets (ALLOW THESE)
!obrazky_optimalizovane/
!assets/
!data/

# Allow Applications
!dist/na_rozkaz_krale.exe
!build/web/
